@import "./normalize.min.css";

* {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: black;
}

ul {
  list-style-type: none;
}

p {
  font-size: 12px;
}

h2, h3 {
  font-weight: normal;
}

figure {
  margin: 0;
}

.gradient {
  background: linear-gradient(#f3f3f3, white) fixed;
}

.body__img {
  position: relative;
  margin: auto;
  height: 400px;
  width: auto;
}

.body__img::after {
  content: "";
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 400px;
  width: auto;
  background-position-x: center;
  background-image: url("../img/worldmap.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.header {
  min-height: 123px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-bottom: 5px;
}

.header__logo--text {
  font-size: 36px;
  letter-spacing: -2px;
}

.header__logo--pict {
  height: 23px;
  width: 33px;
  margin-bottom: 9px;
  margin-right: -11px;
}

.nav__upmenu {
  display: flex;
  margin: 0 35px;
}

.upmenu__list {
  margin-right: 26px;
  padding-bottom: 5px;
}

.upmenu__list:last-child {
  margin: 0;
}

.upmenu__link {
  text-decoration: none;
  color: black;
}

.upmenu__link:hover {
  color: #ae3b44;
}

.submenu__list {
  display: block;
  background: #000;
  padding: 8px 0 8px 12px;
  border-bottom: 1px solid rgb(39, 39, 39);
}

.submenu__link {
  color: #9ca0a2;
}

.submenu__link:hover {
  color: white;
  background-color: black;
}

.innermenu__list {
  padding: 8px 0 8px 12px;
  border-bottom: 1px solid rgb(39, 39, 39);
}

.innermenu__link {
  color: #9ca0a2;
}

.innermenu__link:hover {
  color: white;
  background-color: black;
}

.nav__innermenu {
  margin-left: 2px;
}

.nav__submenu {
  top: 72px;
  display: none;
  position: absolute;
  background-color: black;
  margin-left: -50px;
  font-size: 12px;
  min-width: 148px;
  z-index: 5;
}

.triangle .nav__submenu::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 4px solid black;
  top: -4px;
  left: 63px;
  z-index: 6;
}

.upmenu__triangle .nav__innermenu::before {
  content: "";
  position: absolute;
  width: 0;
  height: -5px;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid black;
  transform: rotate(45deg);
  top: 10px;
  left: -7px;
  z-index: 6;
}

.upmenu__tri .nav__innermenu::after {
  content: "";
  position: absolute;
  width: 0;
  height: -5px;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid #fdfcfc;
  transform: rotate(45deg);
  top: 10px;
  left: -5px;
  z-index: 1;
}

.upmenu__list:hover .nav__submenu {
  display: block;
}

.nav__innermenu,
.upmenu__list:hover .nav__innermenu {
  display: none;
  position: absolute;
  background-color: black;
  padding: 0;
  top: 0;
  left: 148px;
  width: 148px;
}

.submenu__list:hover .nav__innermenu {
  display: block;
}

.upmenu__list > .nav__submenu {
  color: #ae3b44;
}

.upmenu__list > .nav__innermenu {
  color: #ae3b44;
}

.baner {
  position: relative;
  height: 129px;
  background-color: #ae3b44;
  border-top: 7px solid black;
  display: flex;
}

.baner__block--img {
  background-image: url("../img/Layer12.svg");
  background-repeat: no-repeat;
  min-width: 250px;
  background-position-y: -50px;
}

.baner__title {
  min-width: 150px;
  padding-right: 82px;
  letter-spacing: -1px;
  color: #edf2f5;
}

.baner__content {
  display: flex;
  padding: 20px 20px 0 30px;
}

.baner__content--text {
  line-height: 19px;
}

.baner__arrow {
  font-size: 10px;
}

.baner__arrow--prop {
  color: white;
}

.baner__arrow--pos {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 30px;
  bottom: 25px;
  right: 37px;
}

.main {
  display: flex;
  background-color: white;
}

.main__sidebar {
  min-width: 248px;
  padding-top: 40px;
}

.main__sidebar--img {
  content: "";
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  z-index: 3;
  right: 0;
  bottom: 0;
  height: 41px;
  width: 248px;
  left: 0;
}

.sidebar__title {
  position: relative;
  border-bottom: 1px solid #ebeaea;
}

.sidebar__title--prop {
  font-size: 18px;
  padding: 10px 12px;
}

.sidebar__arrow--right::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  padding-right: 12px;
  right: 0;
  z-index: 5;
}

.sidebar__arrow--left::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  margin-left: 40px;
  margin-right: 15px;
  left: 0;
  z-index: 5;
}

.sidebar__topmenu--triangle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #ae3b44;
  transform: rotate(45deg);
  top: 13px;
  right: -3px;
  z-index: 6;
}


.topmenu__list {
  position: relative;
  border-bottom: 1px solid #ebeaea;
}

.dropmenu__list:first-child {
  border-top: 1px solid #ebeaea;
}

.topmenu__link {
  display: inline-block;
  padding: 12px 0 13px 16px;
}

.sidebar__dropmenu {
  display: none;
  background-color: rgb(240, 243, 243);
}

.dropmenu__list {
  border-bottom: 1px solid #ebeaea;
}

.inner__list:first-child {
  border-top: 1px solid #ebeaea;
}
.dropmenu__link {
  display: inline-block;
  padding: 12px 0 13px 40px;
}

.sidebar__inner {
  display: none;
  background-color: rgb(238, 238, 238);
}

.inner__list {
  border-bottom: 1px solid #e0e0e0;
}

.inner__list:last-child {
  border-bottom: none;
}
.dropmenu__list:last-child {
  border-bottom: none;
}

.inner__link {
  display: inline-block;
  padding: 12px 0 13px 60px;
}

.active {
  background-color: #ae3b44;
}

.active--link {
  color: white;
}

.topmenu__link:hover {
  color: #ae3b44;
}

.dropmenu__link:hover {
  color: #ae3b44;
}

.inner__link:hover {
  color: #ae3b44;
}

.dropmenu__checkbox {
  position: absolute;
  width: 250px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.dropmenu__checkbox:checked + label > .sidebar__dropmenu {
  display: block;
}

.dropmenu__checkbox:checked + label > .sidebar__inner {
  display: block;
}

.sidebar__inner,
.topmenu__list:checked + label > .sidebar__inner {
  display: none;
}


.dropmenu__checkbox:checked  + label > .sidebar__arrow--right::after{
  display: block;
  transform: rotate(90deg);
  right: 12px;
}

.main__content {
  padding-left: 37px;
  padding-top: 30px;
  border-left: 1px solid #ebeaea;
}

.main__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebeaea;
  position: relative;
}

.main__text--prop {
  text-align: justify;
  margin-bottom: 25px;
  margin-right: 30px;
  line-height: 19px;
  letter-spacing: -0.2px;
}

.main__article--prop {
  text-align: justify;
  font-size: 15px;
  line-height: 19px;
  color: #909293;
}

.main__title__text {
  font-size: 24px;
  color: #3d3d3d;
  padding-bottom: 25px;
  letter-spacing: -0.5px;
}

.main__title__time {
  width: 23px;
  padding-right: 28px;
  padding-top: 15px;
}

.main__time--day {
  font-size: 17px;
  color: #b9b9b9;
}

.main__time--date {
  font-size: 10px;
  color: #bbbbbb;
}

.main__title--img {
  content: "";
  background-image: url("../img/lines.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 79px;
  width: 79px;
}

.main__article {
  display: block;
  border-bottom: 1px solid #ebeaea;
  padding: 20px 28px 35px 0;
}

.main__img {
  border-bottom: 5px solid black;
}

.main__img--left {
  margin: 25px 35px 25px 0;
}

.main__figure {
  text-align: center;
  margin-bottom: 37px;
  margin-left: -39px;
}

.main__figcaption {
  font-size: 11px;
  line-height: 19px;
  color: #3c3c3c;
}

.main__news {
  display: block;
  border-bottom: 1px solid #ebeaea;
  padding-top: 25px;
}

.main__table {
  font-size: 15px;
  color: #ae3b44;
  padding-bottom: 23px;
}

.main__scrol--left {
  font-size: 15px;
  color: #ae3b44;
}
.main__scrol--right {
  font-size: 15px;
  color: #ae3b44;
}

.main__transition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.transition__arrow--link {
  display: inline-block;
}

.transition__text-link {
  display: inline-block;
  margin: 0 17px;
}

.main__conclusion {
  display: block;
  border-bottom: 1px solid #ebeaea;
  padding-top: 25px;
}

.clients {
  height: 95px;
  border-top: 1px solid #ebeaea;
  display: flex;
  align-items: center;
}

.clients__text {
  font-size: 18px;
  text-align: center;
}

.clients__item {
  list-style-type: none;
  opacity: 0.3;
  text-align: center;
}

.clients__item:hover {
  opacity: 1;
}

.clients__item--prop {
  width: 16%;
}

.clients__link {
  display: inline-block;
}

.footer {
  background-color: #f7f7f7;
  align-items: center;
  border-top: 1px solid #d0d1d4;
}



.footer__rows {
  display: flex;
  padding: 25px 0;
}

.footer__conteiner--icons {
  display: flex;
  width: 114px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__section {
  display: block;
  margin-left: 30px;
  margin-right: 90px;
  
}
.footer__section:last-child {
  margin-right: 25px;
}

.footer__qlincks--rows {
  display: flex;
  width: 370px;
  justify-content: space-between;
}

.footer__title {
  font-size: 15px;
  color: #8b8989;
  margin-bottom: 25px;
}

.footer__list {
  line-height: 19px;
  color: #393939;
}

.footer__list--link {
  display: inline-block;
  color: #c5c2c2;
}

.footer__list--link:hover {
  color: grey;
}

.footer__icons--link {
  display: inline-block;
}

.footer__icon {
  filter: grayscale(80%);
  opacity: 0.4;
}

.footer__icon:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.footer__copyright {
  font-size: 10px;
  line-height: 19px;
  color: #c5c2c2;
}
